<div class="container home">

</div>

<div class="part-container small-block">
  <div class="mini-block">
    <h3>Join Us for Our Lunch Special</h3>
    <p class="special-p">Weekdays from 11AM to 2PM</p>
    <p class="exclusion">excluding holidays and for dine-in only</p>
  </div>
</div>

<div class="fav-foods">
  <div class="fav-foods-label">
    <h2>Few of our Many Favorites</h2>
  </div>
  <div class="thumbnails">
    <div id="bimbimbap" class="thumbnail">
      <span class="caption">BiBimBap</span>
      <%= image_tag("kangchon_bibimbap_550x440.jpg", :alt => "bibimbap", :class => "img-thumbnail") %>
    </div>
    <div id="jjajangmyun" class="thumbnail">
      <span class="caption">Jjajangmyun</span>
      <%= image_tag("kangchon_jajangmyun_550x440.jpg", :alt => "jjajangmyun", :class => "img-thumbnail") %>
    </div>
    <div id="fried-dumpling" class="thumbnail">
      <span class="caption">Fried Dumplings</span>
      <%= image_tag("kangchon_frieddumplings_550x440.jpg", :alt => "fried-dumpling", :class => "img-thumbnail") %>
    </div>
    <div id="steam-dumpling" class="thumbnail">
      <span class="caption">Steam Dumplings</span>
      <%= image_tag("kangchon_steameddumplings_550x440.jpg", :alt => "steam-dumpling", :class => "img-thumbnail") %>
    </div>
    <div id="chicken" class="thumbnail">
      <span class="caption">ChickenWings</span>
      <%= image_tag("kangchon_spicychickenwings_550x440.jpg", :alt => "chicken", :class => "img-thumbnail") %>
    </div>
    <div id="tangsuyuk" class="thumbnail">
      <span class="caption">Tangsuyuk</span>
      <%= image_tag("kangchon_spicytangsuyuk_550x440.jpg", :alt => "tangsuyuk", :class => "img-thumbnail") %>
    </div>
  </div>
</div>

<
