<!DOCTYPE html>
<html>
  <head>
    <title>Kangchon</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Rammetto+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav-div">
    <nav>

      <a href="#"> <%= image_tag("logo.png", :alt => "logo", :class => "logo-nav") %> </a>

      <ul class='tabs'>
        <li><a href="#">MENU</a></li>
        <li><a href="#">LOCATIONS</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CATERING</a></li>
      </ul>
      <span class='online-nav'><a href="#">Order Online</a></span>
    </nav>
  </div>
      <%= yield %>
  </body>
</html>
