<!DOCTYPE html>
<html>
  <head>
    <title>Kangchon</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Rammetto+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="nav-div-small">
      <nav class="small">
        <div class="home-link-div">
          <a href="#" class="home-link"> <%= image_tag("logo.png", :alt => "logo", :class => "logo-nav") %> </a>
        </div>
        <div class="dropdown">
          <div class="dropdown-logo">
            <i class="fa fa-bars fa-4x bar-icon" aria-hidden="true"></i>
          </div>
          <div class="dropdown-list">
            <ul class='tabs'>
              <li><a href="#">MENU</a></li>
              <li><a href="#">LOCATIONS</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">CATERING</a></li>
              <li><a href="#">ORDER</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


  <div class="nav-div">
    <nav class="large">
      <div class="home-link-div">
        <a href="#" class="home-link"> <%= image_tag("logo.png", :alt => "logo", :class => "logo-nav noselect") %> </a>
      </div>
      <ul class='tabs'>
        <li><a href="#">MENU</a></li>
        <li><a href="#">LOCATIONS</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CATERING</a></li>
      </ul>
      <span class='online-nav'><a href="#">Order Online</a></span>
    </nav>
  </div>
      <%= yield %>

  <footer>
    <div class="social-info">
      <a href="https://www.facebook.com/KangchonVA/" target="_blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.yelp.com/biz/kang-chon-korean-and-chinese-restaurant-springfield" target="_blank"><i class="fa fa-yelp fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="footer-info">
      <p class="footer-address1">7048 Spring Garden Dr</p>
      <p class="footer-address2">Springfield, VA 22150</p>
      <p class="footer-phone">(703) 451-3277</p>
      <p class="footer-hours">Hours: 11AM-10PM</p>
    </div>
    <div class="copyright">
      <p>© Kang Chon 2017</p>
    </div>
  </footer>
  </body>
</html>
